<div class="cover">
    <%= image_tag "stadium1", class:'cover-img' %>
    <div class="cover-gradient"></div>
    <div class="cover-text p-3">
        <h3 class="orange">There is some header stuff here</h3>
        <p>lorem ibsum uadsfkh dsakjfasdlofiuy a aoilusd laosiud </p>
    </div>
</div>

<div class="cards-holder d-flex flex-row">
    <% @categories.each do |cat| %>
    <% if !cat.articles.last.nil? %>
      <div class="my-card ">

      <%= link_to article_path(cat.articles.last.id) do %>
          <%= image_tag "#{cat.articles.last.image.downcase}", class:'cover-img' %>
          <div class="cover-gradient"></div>
          <div class="my-card-text p-3">
              <h3 class="my-card-cat"><%= cat.name.capitalize %></h3>
              <h4><%= cat.articles.last.title %></h4>
          </div>
      <% end %> 

      </div>
    <% end %>    
    <% end %>
</div>



<div class="container-fluid m-0 p-3 w-100">
  <nav class="navbar navbar-expand-lg p-0">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% @categories.each do |cat| %>
          <li class="nav-item">
              <strong><%= link_to cat.name.upcase, category_path(cat.id), class: "nav-link active white" %></strong>
          </li>
      <% end %>    
      </ul>
  </nav>

  <div class="row p-2">
    <div class="col-8 vid">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5twveLmWhvI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-4 d-flex flex-column justify-content-center">
      <h2 class="white">The most powerful, beautiful, fantastic and incridble player ever!</h2>
      <h2 class="orange">Lionel Andrés Messi</h2>
      <h5 class="white">
        (born 24 June 1987), is an Argentine professional footballer who plays as a forward and captains both the Spanish club Barcelona and the Argentina national team. Often considered as the best player in the world and widely regarded as one of the greatest players of all time, Messi has won a record six Ballon d'Or awards and a record six European Golden Shoes. He has spent his entire professional career with Barcelona, where he has won a club-record 34 trophies, including ten La Liga titles, six Copa del Rey titles and four UEFA Champions Leagues.
      </h5>
    </div>
  </div>
</div><br><br><br>


