<div class="cover">
    <%= image_tag "stadium1", class:'cover-img' %>
    <div class="cover-gradient"></div>
    <div class="cover-text p-3">
        <h3 class="orange">There is some header stuff here</h3>
        <p>lorem ibsum uadsfkh dsakjfasdlofiuy a aoilusd laosiud </p>
    </div>
</div>

<div class="cards-holder d-flex flex-row">
    <% @categories.each do |cat| %>
    <% if !cat.articles.last.nil? %>
      <div class="my-card ">

      <%= link_to article_path(cat.articles.last.id) do %>
          <%= image_tag "#{cat.articles.last.image.downcase}", class:'cover-img' %>
          <div class="cover-gradient"></div>
          <div class="my-card-text p-3">
              <h3 class="my-card-cat"><%= cat.name.capitalize %></h3>
              <h4><%= cat.articles.last.title %></h4>
          </div>
      <% end %> 
      
      </div>
    <% end %>    
    <% end %>
</div>



<div class="container-fluid m-0 p-3 w-100">
  <nav class="navbar navbar-expand-lg p-0">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% @categories.each do |cat| %>
          <li class="nav-item">
              <strong><%= link_to cat.name.upcase, category_path(cat.id), class: "nav-link active white" %></strong>
          </li>
      <% end %>    
      </ul>
  </nav>

  <div class="row p-2">
    <div class="col-8 vid">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5twveLmWhvI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-4">

    </div>
  </div>
</div>


