<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/articles">Sportive</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <strong><%= link_to 'Home', articles_path, class: "nav-link active" %></strong>
        </li>
        <li class="nav-item">
            <strong><%= link_to 'Matches', articles_path, class: "nav-link" %></strong>
        </li>
        <li class="nav-item">
            <strong><%= link_to 'Players', articles_path, class: "nav-link" %></strong>
        </li>
        <li class="nav-item">
            <strong><%= link_to 'News', articles_path, class: "nav-link" %></strong>
        </li>
      </ul>
        <ul class="navbar-nav ">
            <% if session[:current_user] != nil %>
                <li class="nav-item">
                    <a class="nav-link"><%= session[:current_user]['name'] %> |</a> 
                </li>
                
                <li class="nav-item" >
                    <%= link_to "LOGOUT", users_logout_path, class: "btn", method: :post %>
                </li>
            <% else %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/new">LOGIN |</a> 
                </li>              
                <li class="nav-item">
                    <%= link_to 'REGISTER', new_user_path, class: "nav-link" %>
                </li>
            <% end %>
      </ul>
    </div>
  </div>
</nav> 
